body {
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(255, 18, 18, 0), rgba(33, 14, 14, 0.5));
  z-index: -4; /* Place the gradient layer behind the content */
}
header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}
#website-header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 42px;
}

header h2 {
  font-size: 24px;
  margin: 0;
}

header a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
  cursor: pointer;
}

/* GRID STYLING */
#grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 98vw;
  margin-top: 52px;
}

.artist-grid {
  margin: 20px;
  padding-bottom: 20px;
  border: 2px black solid;
  border-radius: 4px;
  text-align: center;
}

.artist-grid {
  border: 0px solid rgba(255, 255, 255, 0.07);
  border-radius: 2%;
  background-color: rgba(255, 255, 255, 0.686);
  backdrop-filter: blur(13px);
  box-shadow: rgba(0, 0, 0, 0.89) 0px 0px 76px -1px;
}
.dim {
  filter: brightness(30%);
}

.artist-grid img {
  height: 160px;
}

/* Button Styling */
.liked {
  background-color: red;
}

.unliked {
  background-color: white;
}

/* STYLING AF VIEWS */
#favorites::before {
  font-size: 26px;
  margin-left: 89%;
  position: absolute;
  color: black;
  color: #fff;
  text-decoration: none;
}

#favorites {
  font-size: 20px;
  margin-left: 75px;
}

#home {
  font-size: 20px;
}

#home::before {
  color: #fff;
  text-decoration: none;
  font-size: 26px;

  margin-right: 80%;
  position: absolute;
  color: black;
}

#select-sort-by {
  padding: 7px;
  margin: 10px;
  font-size: 16px;
  background: rgb(228, 225, 225);
  cursor: pointer;
  border-radius: 6px;
}

#search,
#create-btn {
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

#create-btn {
  background: #a599dd;
  color: #000000;
  font-weight: 500;
  transform: translate(2%);
  cursor: pointer;
}

/* Dialog styling */

#update-dialog {
  padding: 20px;

  height: 350px;
  width: 350px;
  border: 11px solid rgba(255, 255, 255, 0.072);
  border-radius: 1%;
  background-color: rgba(255, 255, 255, 0.685);
  backdrop-filter: blur(5px);
  box-shadow: 0px 0px 76px -1px rgba(0, 0, 0, 0.89);
}

.dim {
  filter: brightness(30%);
}

.hide {
  display: none;
  visibility: hidden;
}

#create-dialog {
  padding: 20px;
  align-items: center;
  border: 11px solid rgba(255, 255, 255, 0.072);
  border-radius: 1%;
  background-color: rgba(255, 255, 255, 0.685);
  backdrop-filter: blur(5px);
  box-shadow: 0px 0px 76px -1px rgba(0, 0, 0, 0.89);
}

#delete-dialog {
  border: 11px solid rgba(255, 255, 255, 0.072);
  border-radius: 1%;
  background-color: rgba(255, 255, 255, 0.685);
  backdrop-filter: blur(5px);
  -webkit-box-shadow: 0px 0px 76px -1px rgba(0, 0, 0, 0.89);
  -moz-box-shadow: 0px 0px 76px -1px rgba(0, 0, 0, 0.89);
  box-shadow: 0px 0px 76px -1px rgba(0, 0, 0, 0.89);
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

input {
  margin: 10px 0;
}
